<html class='rechtml'>
<body class='recbody'>
<div class="editrecipe">
<h1 style="text-align: center;">Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Show', @recipe, class: 'showrecipe' %> |
<%= link_to 'Back', recipes_path, class: 'backrecipe' %>
</div>
</body>
</html>