<body class="bodyrecp">
<html class="htmlrecp">
<div class="newrecpcontainer">
<h1 class="newrecipe">New Recipe</h1>
<div class="renformrecp">
<%= render 'form', recipe: @recipe %>
</div>
<div class="recpback">
<%= link_to 'Back', recipes_path %>
</div>
</div>
</body>
</html>