<html class="showhtml">
<body class="showbody">
<div class="showrec">
<p id="notice"><%= notice %></p>

<p>
 <div class='newrectitle'>
  <strong>Drink Name:</strong><br><br>
  <%= @recipe.title %>
  </div>
</p>

<p>
 <div class='newrecbody'>
  <strong>Drink Description:</strong><br><br>
  <%= @recipe.body %>
  </div>
</p>
<div class='newrecbody'>
<%= link_to 'Back', recipes_path %>
</div>
</div>
</body>
</html>