<body class="user">
<p id="notice"><%= notice %></p>


<div class="signup">

<h1 class="two-head" style="color:white;">Welcome to Cocktails & Dreams</h1>

    <a><%= link_to 'Register', new_user_registration_path, style: "color:white;" %></a><br><br><br><br>
     <a><%= link_to 'Sign in', user_session_path, style: "color:white;" %></a>

</div>
</body>