<body class="user">
<p id="notice"><%= notice %></p>


<div class="signup">

    <a><%= link_to 'Register', new_user_registration_path, style: "color:white;" %></a>
     <a><%= link_to 'Sign in', user_session_path, style: "color:white;" %></a>

</div>
</body>