<body class="user">
<p id="notice"><%= notice %></p>

<dvi class="signup">
<h1 style="color:white;">Welcome to Mixology Master</h1><br><br>

     <%= link_to 'Register', new_user_registration_path, style: "color:white;" %><br><br><br><br>
     <%= link_to 'Sign in', user_session_path, style: "color:white;" %>
</div>
</body>
