<body class="ing">
<p id="notice"><%= notice %></p>

<h1 class="mix">Create your Cocktail</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="ingred">
<form class="ingred">
<form method="POST" action="ingredients/">
    <input class="alc" style="text-align: center" maxlength="150" name="Alcohol" autofocus="autofocus" placeholder="Enter Your Alcohol"></input>
    <input class="mix" style="text-align: center" maxlength="150" name="Mixers" autofocus="autofocus" placeholder="Enter Your Mixer"></input><br><br><br><br><br><br><br><br>
    <div class="sub">
    <input class="enter" type="submit" style="text-align: center" value="Submit"></input>

</form>
  <% unless @results.nil? %>
<table>

      <% @results.each do |drink| %>
<tr>
     <td><img width="100px" src="<%= drink["strDrinkThumb"] %>" /></td>
     <td><%= drink["strDrink"] %></td>
     <% end %>
</table>
<% end %>
</form>

