<body class="ing">
<p id="notice"><%= notice %></p>

<h1 class="mix">Mix your Ingredients</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="ingred">
<form class="ingred">
<form method="POST" action="http://www.thecocktaildb.com/api/json/v1/1/filter.php?i=#{name}">
    <input class="alc" style="text-align: center" maxlength="150" name="Alcohol" autofocus="autofocus" placeholder="Enter Your Alcohol"></input>
    <input class="mix" style="text-align: center" maxlength="150" name="Mixers" autofocus="autofocus" placeholder="Enter Your Mixer"></input><br><br><br><br><br><br><br><br>
    <div class="sub">
    <input type="submit" style="text-align: center" value="Submit"></input>

</form>
<table>
</table>
</form>
