<body class="ing">
<p id="notice"><%= notice %></p>

<h1 class="mix">Drink Generator</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="ingred">
<form class="ingred">
<form method="POST" action="ingredients/">
    <input class="alc" style="text-align: center" maxlength="150" name="Alcohol" autofocus="autofocus" placeholder="Search by Alcohol"></input><br><br><br><br><br><br><br><br>
    <div class="sub">
    <input class="enter" type="submit" style="text-align: center" value="Submit"></input>
    </div>
</form>
  <% unless @results.nil? %>
<table>
  <tr>
  <div class="complete">
      <% @results.each_with_index do |drink, index| %>
     <td class="result"><img width="100px" src="<%= drink["strDrinkThumb"] %>" /></td>
     <td class="results"><%= link_to drink["strDrink"], ingredient_path(drink["idDrink"]) %></td>
  <%= "\t</tr>\n\t<tr>\n".html_safe if index % 2 == 1 %>
  </div>
     <% end %>
     </tr>
</table>
<% end %>
</form>

