<html class="showrecipeshtml">
<body class="showrecipesbody">
<div class="showrecipes">
<h2 class="dn">Drink Name:</h2>
<h4><%= @results['strDrink'] %></h4><br><br>
<h2 class="dr">Drink Recipe:</h2>
     <p class="rez"><%= @results["strInstructions"] %></p>
     <ul>
     <% 15.times do |i| 
     break unless @results["strIngredient#{i+1}"].length > 1%>
     <li><%= @results["strIngredient#{i+1}"] %> - <%= @results["strMeasure#{i+1}"]%></li>
     <% end %>
     </ul>
 </div>
 </body>
 </html>