<h2><%= @results['strDrink'] %></h2>
     <p><%= @results["strInstructions"] %></p>
     <ul>
     <% 15.times do |i| 
     break unless @results["strIngredient#{i+1}"].length > 1%>
     <li><%= @results["strIngredient#{i+1}"] %> - <%= @results["strMeasure#{i+1}"]%></li>
     <% end %>
     </ul>