<body>
<div class="welcome">

<div class="design">

<h1 style="color:white;">Welcome to Mixology Master</h1><br><br>

     <%= link_to 'Yes, I am over 21', users_path, class: 'verify', style: "color:white;" %>
     <%= link_to 'No, I am not over 21','https://www.tablespoon.com/posts/20-non-alcoholic-party-drinks-everyone-will-love', class: 'verify',style: "color:white;"%>
   
</div> 
</div>
</body>