<body>
<div class="welcome">

<div class="design">
     <%= link_to 'Yes, I am over 21', users_path, class: 'btn btn-info', style: "color:white;" %>
     <%= link_to 'No, I am not over 21','https://www.tablespoon.com/posts/20-non-alcoholic-party-drinks-everyone-will-love', class: 'btn btn-info',style: "color:white;"%>
   
</div> 
</div>
</body>