


   <center><div class="home-user-btns">
     <%= link_to 'Yes, I am over 21', users_path, class: 'btn btn-info' %>
     <%= link_to 'No, I am not over 21', 'https://www.buzzfeed.com/thenewschool/21-things-to-do-under-21-in-nyc-ymfe?utm_term=.weKA0o5kWG#.bbKy3o6bVQ', class: 'btn btn-info'%>
   </div>

   <%= link_to 'Register', new_user_registration_path %>
   