<body class="about">
<p id="notice"><%= notice %></p>

<h1 class="aboutus">About us</h1>

<p class="info"> Welcome to Mixology.  We here at Mixology believe that life is short and should be enjoyed to it's fullest.  Drinking cocktails that are below standards is just unacceptable.  Mixology looks to provide drink recipes for every taste and preference.</p>

<p class="info">  Have you ever been out and the mood strikes for your favorite cocktail but the bartender simply can't seem to get it right?  Well we believe that no drink should be anything less than perfect.  So next time your out and the bartender just can't get it right show them mixology and get the drink you deserve.</p>  

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<div class="container">
 
  <h1 class="contact-head">Contact us</h1>
  <div class="row body">
    <form method="POST" action="http://formspree.io/kevin.gallagher23@gmail.com">
      <ul>

       
          <p class="contact">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="John"/>
          </p>
          <p class="contact">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" placeholder="Smith"/>
          </p>
        
          <p class="contact">
            <label for="email">Email
              <span class="req">*</span></label>
            <input type="email" name="email" placeholder="john.smith@gmail.com"/>
          </p>
        
          <p class="contact">
            <label for="message">Message
              <span class="req">*</span></label>
            <input class="mess" type="message" name="message" placeholder="Please Enter Your Message"/>
          </p>
          
        <p>
          <input class="contact-enter"  type="submit" value="Submit"/>
          </p>
       

      </ul>
    </form>
  </div>
</div>

  
</body>