<body class="about">
<p id="notice"><%= notice %></p>

<h1 class="aboutus">About us</h1>

<p class="info"> Welcome to Highball.  We here at Highball believe that life is short and should be enjoyed to the fullest.  Drinking the same old cocktails all the is simply no way to go through life.  Highball's philosophy is that life is an adventure and it should be experienced one new drink at a time.</p>

<p class="info">We know that many people have their go to drink when their at home or at the bar, but how can you have a go to drink when you have experienced all the cocktails this life has to offer.  So next time your out check with Highball and we will turn you on to a whole new world of alcoholic wonder.</p>  

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<div class="container">
 
  <h1 class="contact-head">Contact us</h1>
  <div class="row body">
    <form method="POST" action="http://formspree.io/kevin.gallagher23@gmail.com">
      <ul>
          <p class="contact">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="John"/>
          </p>
          <p class="contact">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" placeholder="Smith"/>
          </p>
        
          <p class="contact">
            <label for="email">Email
              <span class="req">*</span></label>
            <input type="email" name="email" placeholder="john.smith@gmail.com"/>
          </p>
        
          <p class="contact">
            <label for="message">Message
              <span class="req">*</span></label>
            <input class="mess" type="message" name="message" placeholder="Please Enter Your Message"/>
          </p>
          
        <p>
          <input class="contact-enter"  type="submit" value="Submit"/>
          </p>
       </ul>
    </form>
  </div>
</div>

  
</body>