/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*home page CSS*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.welcome {
    /* The image used */
    background-image: url("backoption2.png");
    margin-top: -300px;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
   
}

.design{
	font-size:  30px;
	text-align: center;
	margin-top: 800px;
	position: absolute;
	z-index: 2;
	margin-left: 550px;

	
}

.home{
	background-image: url("backoption2.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
}

.home2{
	background-image: url("backoption2.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
	margin-top: -200px;
}




/*Sign in and Register Page*/


.user {
    /* The image used */
    background-image: url("backoption8.jpeg");
    padding: 50px;
	z-index: 2;
    /* Full height */
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


@keyframes blink { 
   50% { border-color: red; } 
}


div.signup{
	font-size:  30px;
	text-align: center;
	margin-top: -50px;
	position: absolute;
	z-index: 2;
	margin-left: 520px;
	width: 25%
	color: red;
	margin-bottom: 40px;
	text-decoration: none;

}

h1.two-head{
	margin-bottom: 40px;
	padding-bottom: 40px;
}

a.begin{
	text-decoration: none;
}

/*navigation Bar*/

nav.top{
	font-size: 35px;
	color: white;
	text-decoration: none;
	margin-top: 50px;
	margin-bottom: 75px;
	padding-right: 60px;
	width: 100%;
	text-align: center;



}

.bar{
padding-left: 24px;
padding-right: 24px;

}

a.signup{
	padding: 50px;
}

nav:hover{
	text-decoration: none;
	color: red
}

.mix{
	margin-top: 100px;
	margin-left: 50px;
}

/*Registration Page*/



.field{
	margin-left: 550px;
	margin-top: 50px;
	color: white;
	font-size: 22px;
	margin-bottom: 100px;
}

.fields{
	margin-left: 550px;
	margin-top: 50px;
	color: white;
	font-size: 22px;
}


.signup {
	margin-left: 600px;
	margin-top: 50px;
	color: white;
}

.actions{
	margin-left: 550px;
	margin-top: 50px;
	color: white;
	font-size: 22px;	
}

.action{
	margin-left: 550px;
	margin-top: 50px;
	color: white;
	font-size: 22px;
	margin-bottom: 100px;	
}
.sign{
	margin-left: 550px;
	color: white;
	font-size: 30px;
}

.log{
	margin-left: 600px;
	margin-top: 150px;
	color: white;
	font-size: 30px;
}

.newlog{
	border-width: 8px;
	border: solid;
	border-color: white;
	margin-top: -75px;
	height: 70%;
	width: 70%;
	margin-left: 300px;
	color: white;
	box-shadow: 15px 15px 15px white;
}


.newperson{
	padding-top: 200px;
	border-width: 8px;
	border: solid;
	margin-top: -75px;
	border-color: white;
	height: 65%;
	width: 65%;
	margin-left: 300px;
	color: white;
	box-shadow: 15px 15px 15px white;
}

.main-image-login{
	 background-image: url("backoption1.jpeg");

    /* Full height */
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    opacity: 0.2;
}

.actionbutton{
	height: 25%;
	width: 35%;
	margin-left: 275px;
	margin-top: 25px;
	font-size: 22px;

}

.session{
	color: white;
	padding-top: 15px;
	font-size: 20px;
}

a{
	color: white;

}



.newrecpcontainer{
	padding-top: 200px;
	border-width: 8px;
	border: solid;
	border-color: white;
	height: 55%;
	width: 65%;
	margin-left: 300px;
	color: white;
	box-shadow: 15px 15px 15px white;
	background-color: lightblue;
}

.bodyrecp{
	background-color: lightblue;
}

.htmlrecp{
	background-color: lightblue;
}

.newrecipe{
	margin-top: -100px;
}

.renformrecp{
	color: black;
}

.showrecipes{
	font-size: 22px;
	margin-left: 650px;
	margin-top: 200px;
	border: solid;
	border-width: 5px;
	color: black;
	width: 25%;
}

.showrecipeshtml{
	background-color: lightblue;
}

.showrecipesbody{
	background-color: lightblue;

}
image.barl{
	height: 20px;
	width: 20px;
}

.verify{
  font-size: 35px;
  padding: 20px;
  text-decoration: none;
  background-color: none;
  margin-top: 600px;

}