/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*home page CSS*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.welcome {
    /* The image used */
    background-image: url("glasses.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design{
	font-size:  30px;
	text-align: center;
	margin-top: 500px;
	position: absolute;
	z-index: 2;
	margin-left: 550px;

	
}




/*Sign in and Register Page*/


.user {
    /* The image used */
    background-image: url("glasses.jpg");
    padding: 50px;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes blink { 
   50% { border-color: #ff0000; } 
}


div.signup{
	font-size:  30px;
	text-align: center;
	margin-top: 550px;
	position: absolute;
	z-index: 2;
	margin-left: 400px;
	padding: 50px;
	border: solid;
	border-width: 5px;
	border-color: white;
	box-shadow: 10px 10px 5px blink;
	width: 25%
	color: white;
	margin-bottom: 40px;
	animation: blink .5s step-end infinite alternate;
}

h1.two-head{
	margin-bottom: 40px;
	padding-bottom: 40px;
}

/*navigation Bar*/

nav.top{
	font-size: 35px;
	color: white;
	text-decoration: none;
	margin-top: 50px;
	padding-left: 60px;
	padding-right: 60px;
	width: 100%;
	text-align: center;


}

.bar{
padding-left: 24px;
padding-right: 24px;

}

a.signup{
	padding: 50px;
}

a:hover{
	text-decoration: none;
	color: red
}

