// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.about {
	background-color: lightblue;
}



.contact{
	margin-left: 50px;
	width: 50%;
	height: 50%;
    font-size: 20px;
    

   
}

.contact-head{
	margin-left: 100px;
	margin-bottom: 40px;
	width: 50%;
	height: 50%;
    font-size: 30px;
}

.container{
	margin-top: 150px;
	margin-left: 650px;
	border-style: solid;
	box-sizing: border-box;
	width: 20%;

}


.aboutus{
	margin-left: 750px;
	font-size: 30px;
	margin-top: 200px;
}


.contact-enter{
	margin-left: 50px;
	width: 50%;
	height: 50%;
	font-size: 20px;
}

.mess{
width: 200px;
height: 75px;
margin-top: 5px;
}

.info{
	font-size: 20px;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
}