// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html body.ing:after{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
	background-image: url("backoption16.png");
 /*  height: 100%; */

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   font-family: 'Vollkorn', serif;
   
}


input.alc{
	  height: 15%;
    font-size: 20px;
    width: 20%;
  	float: left;
}
  	
.ingred{
	 width: 70%;
	 height: 30%;
   font-size: 25px;
   margin-left: 550px;
   margin-bottom: -50px;
    

}


h1.mix{
padding-left: 635px;
padding-top: 25px;

}

.enter{
	 width: 20%;
	 height: 50%;
   font-size: 25px;
   margin-left: 200px;
   display: inline-block;
}



.alc{
	margin-left: 200px;
}



.result{
  margin-left: 350px;
  display: inline-block;

}

.results {
  font-size: 20px;
  margin-left: 200px;
}

.complete{
  padding-top: 50px;
  padding-right: 100px;
}

.showrecipeshtml{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: url("backoption16.png");
 /*  height: 100%; */

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   font-family: 'Vollkorn', serif;
   color: white;
}

.showrecipesbody{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: url("backoption16.png");
 /*  height: 100%; */

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   font-family: 'Vollkorn', serif;
   color: white;
   border-color: white;
}

.dn{
  color: white;
  font-size: 45px;
  padding: 20px;
}

.dr{
  color: white;
  font-size: 45px;
  padding: 20px;
}

h4{
  color: white;
  font-size: 40px;
}

li{
  color: white;
  font-size: 40px;
}

.showrecipes{
  border-color: white;
}