// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.ing{
	background-color: lightblue;
}


input.alc{
	  height: 15%;
    font-size: 20px;
    width: 20%;
  	float: left;
}
  	
.ingred{
	 width: 70%;
	 height: 30%;
    font-size: 25px;
    margin-left: 550px;
    

}

body.ing{
	font-size: 20px;



}

h1.mix{
padding-left: 685px;
padding-top: 25px;

}

.enter{
	 width: 20%;
	 height: 50%;
    font-size: 25px;
    margin-left: 200px;
    display: inline-block;
}



.alc{
	margin-left: 200px;
}



.result{
  margin-left: 300px;
  display: inline-block;
}

.results {
  font-size: 20px;
}

.title{
  font-size: 25px;
  margin-top: 100px;
}

.titlen{
  font-size: 25px;
  margin-left: -150px;
  margin-top: 100px;
}