<html class="locatehtml">
<body class="locatebody">
<div class="locates">
<h1 class="locat">New Location</h1>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path, class: "lo" %>
</div>
</body>
</html>